In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('BTC-USD.csv')

In [3]:
date = 0
open = 1
high = 2
low = 3
close = 4

In [4]:
np.array(data.iloc[0][close]).item()

10370.820313

In [11]:
a = np.array(data.iloc[0])

In [17]:
a[2]

10512.328125

In [15]:
type(a[2])

numpy.float64

In [5]:
data.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-26,10126.299805,10512.328125,10126.299805,10370.820313,10370.820313,18438654080
1,2019-08-27,10372.826172,10381.328125,10087.300781,10185.500000,10185.500000,14762609503
2,2019-08-28,10203.426758,10279.366211,9716.656250,9754.422852,9754.422852,17603790323